
#loginAnchorpane {
	-fx-background-color: #27293B;
	-fx-border-width: 7;
	-fx-border-radius: 4;
	-fx-border-insets: -4;
}

#CheckCase {
	-fx-text-fill: #A5537B;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.4;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}





.table-view {
    -fx-base: #27293B;
    -fx-control-inner-background: #27293B;
    -fx-background-color: #27293B;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 30;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    -fx-opacity: 0.4;
   /*  -fx-font-weight: bold;*/
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #27293B transparent #27293B;
    -fx-background-color: transparent, derive(#27293B,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#27293B,20%);
}

.context-menu {
    -fx-background-color: derive(#27293B,50%);
}

.menu-bar .label {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #27293B;
}

.text-field {
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-radius: 6;
    -fx-border-width: 0.4;
    -fx-background-radius: 0;
    -fx-background-color: #27293B;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 8pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}
/*
.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #27293B;
}
 
.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #27293B;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
    
}
*/
.combo-box .list-view {
	-fx-background-color: #27293B;
}

.combo-box .list-cell {
	-fx-background-color: #d1d1d1;
}

.text-area:readonly{
	-fx-text-fill: #D1D1D1;
}

.text-area:readonly .scroll-pane .viewport .content {
	-fx-background-color: #27293B;
}
