/* -------- label CSS -------- */
#onlineUsersLabel {
   -fx-background-color: #27293B;
   -fx-text-fill: #D1D1D1;
}
/*
.label{
	-fx-background-color: #828282;
}
 */
/* ----------------------------- */


/* -------- vbox CSS -------- */
#MainVBox {
   -fx-background-color: #27293B;
}

#tab2VBox{
    -fx-base: #27293B;
    -fx-control-inner-background: #27293B;
    -fx-background-color: #27293B;
    -fx-padding: 5;
}
/* ----------------------------- */


/* -------- hbox CSS -------- */
#MainHBox {
   -fx-background-color: #27293B;
}

#tab2HBox{
    -fx-base: #27293B;
    -fx-control-inner-background: #27293B;
    -fx-background-color: #27293B;
    -fx-padding: 5;
}
/* ----------------------------- */


/* -------- chart CSS -------- */
.axis-tick-mark {
	-fx-stroke: #1EFF2F;
    -fx-tick-label-fill: #1EFF2F;
}

.axis-minor-tick-mark {
    -fx-stroke: #1EFF2F;
    -fx-fill: #1EFF2F;
    -fx-tick-label-fill: #1EFF2F;
}

.axis{
   -fx-tick-label-fill: #B62828;   
}

.chart-horizontal-grid-lines {
    -fx-stroke: #CCB24C;
}

.chart-plot-background{
	-fx-background-color: #27293B;
}

.chart-title .text{
  -fx-fill: #D1D1D1;
  -fx-font-size: 1.1em;
}

.chart{
   -fx-background-color: #1E1F2F;
   -fx-border-color: red;
}

.chart-content {
    -fx-padding: 10px;
}

.default-color0.chart-series-line{
	-fx-stroke: #1EFF2F;	
}
/* ----------------------------- */


/* -------- titled pane CSS -------- */
.titled-pane {
   /*-fx-text-fill: #C8C8C8;*/
   -fx-text-fill: #27293B;
}

.titled-pane > .title {
   /*-fx-background-color: #27293B;*/
   -fx-background-color: #C8C8C8;
} 
/* 
.titled-pane > .content {
   -fx-border-color: none;
}
*/
/* ----------------------------- */


/* -------- tab pane CSS -------- */
.tab-pane .tab:selected
{
   -fx-background-color: #27293B;
   -fx-background-size: 1.9em;
   -fx-text-fill: #27293B;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #27293B;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: #B1B1B1;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #C8C8C8;
    -fx-background-color: #27293B;
}

.tab:top {
   -fx-background-color: #B1B1B1;
}

.tab-top {
	-fx-background-color: red;
}

.tab-header-background {
   -fx-background-color: #3D3F52;
}
/* ----------------------------- */


/* -------- button CSS -------- */
#sessionButton{
	-fx-border-color: #D1D1D1;
    -fx-border-width: 2.0;
    -fx-background-color: transparent;
    -fx-font-family: Segoe UI, Helvetica, Arial, "sans-serif";
    -fx-font-size: 10pt;
    -fx-text-fill: #D1D1D1;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
    -fx-background-radius: 16px;
    -fx-border-radius: 100px;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-radius: 6;
    -fx-border-width: 0.4;
    -fx-background-radius: 0;
    -fx-background-color: #27293B;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 8pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}
/*     
.button {
    -fx-border-color: #C2C2C2;
    -fx-border-width: 2.0;
    -fx-background-color: transparent;
    -fx-font-family: sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #C2C2C2;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
    -fx-background-radius: 16px;
    -fx-border-radius: 100px;
}
*/

/*
.button:hover{
   -fx-background-color: #5B5D84;
}

*/


/*
.button .button:selected
{
   fx-background-color: #27293B;
}

.button:focused {
    -fx-background-color: #27293B;
}
 */
/* ----------------------------- */


/* -------- combo box CSS -------- */
.combo-box{
    -fx-background-color: #B5B5B5;
}
/* ----------------------------- */


/* -------- menu bar CSS -------- */
.menu-bar{
    -fx-background-color: #3D3F52;
    
}

.menu-bar .label {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #C2C2C2;
}
/* ----------------------------- */


/* -------- tool bar CSS -------- */
.tool-bar{
    -fx-background-color: #1E1F2F;
}
/* ----------------------------- */

.toggle-button {
  -fx-graphic: url("../service/KakaoTalk_20150820_093404963.jpg");
}

#sessionTable, #bindTable, #fulltext, #plantext {
    -fx-base: #27293B;
    -fx-control-inner-background: #27293B;
    -fx-background-color: #27293B;
    -fx-padding: 5;
}

#JHK {
	-fx-background-color: #27293B;
}

.text-area:readonly {
	-fx-text-fill: #D1D1D1;
}

.text-area:readonly .scroll-pane .viewport .content {
	-fx-background-color: #27293B;
}

#JHK1 {
	-fx-background-color: #27293B;
}

#sessionTv {
	-fx-base: #27293B;
    -fx-control-inner-background: #27293B;
    -fx-background-color: #27293B;
    -fx-padding: 5;
}

#sessionTv .text{
	-fx-fill: #C2C2C2;
}

.list-view {
	-fx-background-color: #27293B;
	-fx-border-color: #C8C8C8;
}

.list-cell:filled {
	-fx-text-fill: #C8C8C8;
	-fx-background-color: #27293B;
}

.list-cell:empty {
	-fx-background-color: #27293B;
}
 
#JHK .text {
	-fx-fill: #C2C2C2;
	-fx-font-size: 12px;
}