.vbox{
    -fx-base: #27293B;
    -fx-control-inner-background: #27293B;
    -fx-background-color: #27293B;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}



.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}
.table-view {
    -fx-base: #27293B;
    -fx-control-inner-background: #27293B;
    -fx-background-color: #27293B;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.list-view {
    -fx-base: #27293B;
    -fx-control-inner-background: #27293B;
    -fx-background-color: #27293B;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.text-area {
    -fx-base: #27293B;
    -fx-control-inner-background: #27293B;
    -fx-background-color: #27293B;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.hbox{
    -fx-base: #27293B;
    -fx-control-inner-background: #27293B;
    -fx-background-color: #27293B;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #27293B;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 8pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}




.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #27293B;
    -fx-text-fill: white;
}
.cell-session-danger {
    -fx-background-color: #FF4848;
    /*-fx-control-inner-background: rgb(255, 159, 160);*/
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: #cce3f4;
    -fx-cell-focus-inner-border: #85b9de;
}
/*other*/
.cell-freePer-origin {
    -fx-background-color:  #ffec24;
    /*-fx-control-inner-background: rgb(255, 248, 33);*/
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: #cce3f4;
    -fx-cell-focus-inner-border: #85b9de;
}
/*item<20*/
.cell-freePer-error {
    -fx-background-color: #FF4848;
    /*-fx-control-inner-background: rgb(255, 159, 160);*/
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: #cce3f4;
    -fx-cell-focus-inner-border: #85b9de;
}
/*item>95*/
.cell-freePer-safe {
    -fx-background-color: #7CCE76;
    /*-fx-control-inner-background: rgb(255, 205, 158);*/
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: #cce3f4;
    -fx-cell-focus-inner-border: #85b9de;
}
.cell-distState-warning {
    -fx-background-color:  #ffec24;
    /*-fx-control-inner-background: rgb(255, 248, 33);*/
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: #cce3f4;
    -fx-cell-focus-inner-border: #85b9de;
}
.cell-distState-perfect {
    -fx-background-color: #7CCE76;
    /*-fx-control-inner-background: rgb(255, 205, 158);*/
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: #cce3f4;
    -fx-cell-focus-inner-border: #85b9de;
}
.cell-distState-danger {
    -fx-background-color: #FF4848;
    /*-fx-control-inner-background: rgb(255, 159, 160);*/
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: #cce3f4;
    -fx-cell-focus-inner-border: #85b9de;
}

/*
.table-view .column-header-background {
    -fx-background-color: transparent;
}


.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 40;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    /* -fx-font-family: "Segoe UI Light"; 
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
   /*  -fx-font-weight: bold;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #27293B transparent #27293B;
    -fx-background-color: transparent, derive(#27293B,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#27293B,20%);
}

.context-menu {
    -fx-background-color: derive(#27293B,50%);
}

.menu-bar .label {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #27293B;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}


.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #27293B;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}
.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}
.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
*/